<aside>
    <nav>
        <ul class="nav__links">
            <li>
                <a href="/">Wall</a>
            </li>
            <li>
                <a href="Rules">Dorm rules</a>
            </li>
            <li>
                <a href="404">Economy</a>
            </li>
            <li>
                <a href="Covid">Covid-19</a>
            </li>
            <li>
                <a href="404">Contact</a>
            </li>
        </ul>
    </nav>
</aside>