<aside>
    <nav>
        <ul>
            <li>
                <a href="">Wall</a>
            </li>
            <li>
                <a href="">Dorm rules</a>
            </li>
            <li>
                <a href="">Economy</a>
            </li>
            <li>
                <a href="">Covid-19</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
        </ul>
    </nav>
</aside>