<aside>
    <nav>
        <ul>
            <li>
                <a href="">A nav link</a>
            </li>
            <li>
                <a href="">A nav link</a>
            </li>
            <li>
                <a href="">A nav link</a>
            </li>
            <li>
                <a href="">A nav link</a>
            </li>
            <li>
                <a href="">A nav link</a>
            </li>
        </ul>
    </nav>
</aside>