<footer>
    
    <address class="adress" id="adress">
        <h4>Adresse:</h4>
        bla bla <br>
        bla <br>
        bla <br><br>
        tlf: 3242342
    </address>
    <div class="someCont">
        Nogle SoMe ikoner
    </div>
    <div>
        Noget andet info
    </div>
</footer>