<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO -->
    <title> Site | <%= title %> </title>
    <meta name="description" content="">

    <!-- CSS -->
    <link rel="stylesheet" href="./css/style.css">
    
    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- JS -->
    <script type="module" src="./js/main.js"></script>
</head>