<header>
    <div>
        <a href="/">
            <img src="./media/images/logo.svg" alt="Logo">
        </a>
    </div>
    <div class="header__username">
        <%= user.name %> 
    </div>
</header>
<div class="burger">
    <div class="line1"></div>   
    <div class="line2"></div>
    <div class="line3"></div>   
</div>