<%- include('./partials/head.ejs')%>
<%- include('./partials/header.ejs') %>
<main>
    <%- include('./partials/aside.ejs') %>
    <section class="hero">
        <h1>Om os</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate cum veniam ipsa dolore, id molestias vel, dolorem laborum ex in atque. Distinctio reiciendis amet, a veritatis accusantium dolor culpa modi.
            Distinctio vitae, iste in quo, esse sed voluptatem nulla earum dolorum quia necessitatibus tenetur fuga voluptatibus voluptatum placeat harum enim. Quisquam eos placeat numquam dolor veniam, iure velit perferendis ea!
            Porro enim maxime doloribus, illo neque corporis. 
        </p><br>
        <img src="./media/images/photo.jpg" alt="billede">
        <p>
            In voluptatum, officia doloremque inventore est ipsa tempore assumenda perferendis aliquam voluptas vel aperiam iure, optio eaque natus numquam asperiores qui. Provident, facere!
            Suscipit rerum ipsum obcaecati harum ex saepe reiciendis nam? Obcaecati consequuntur deleniti dignissimos repellendus, maxime reiciendis hic harum quo quia, facilis tenetur alias aut laborum earum nostrum veritatis reprehenderit a.
            Molestiae, voluptas quis quas corrupti modi autem corporis tempore. Suscipit error magni cum nostrum rerum alias inventore voluptatum, earum at quod aspernatur voluptatibus adipisci odio. Ea dicta quam debitis nobis.
            Reiciendis aliquid maxime veritatis recusandae enim, praesentium asperiores in at hic amet molestiae rem, totam suscipit, cumque ducimus? Id ipsa alias repellendus magnam culpa dolores quas corrupti maiores natus reprehenderit.
            Obcaecati laboriosam modi libero vero commodi rerum nisi beatae eius facere harum voluptatum, iste inventore nam eveniet, placeat asperiores ipsam laudantium. Sit exercitationem temporibus nisi, quidem tempora iusto impedit expedita!
            Odio voluptas sed eveniet qui inventore possimus reiciendis, mollitia ex?
        </p><br>
        <p>
            Nemo sint dolores repudiandae voluptas error cum, quisquam eos cupiditate illo id mollitia, vel perspiciatis tempora asperiores. Nihil, accusantium. Itaque?
            Officia doloribus nulla quia ipsa eos eveniet quaerat possimus quis, eaque delectus iste? Explicabo, laboriosam voluptatem iusto fugiat harum libero dolorum, dolores ducimus quo incidunt laborum quam placeat illum. Ullam?
            Corrupti et repudiandae consequatur incidunt exercitationem qui veniam, doloremque accusamus eaque labore doloribus vero ducimus adipisci, laudantium dolor animi sapiente ex quibusdam. Quos quia tenetur dolor ab mollitia obcaecati tempore?
        </p>
    </section>
</main>