<%- include('./partials/head.ejs')%>
<%- include('./partials/header.ejs') %>
<main>
    <%- include('./partials/aside.ejs') %>
    <section class="hero">
        <div class="hero__allArticles">

            <a href="./article1">
                <div class="allArticles__article">
                    <p>Artikkel navn</p>
                    <img src="./media/images/photo.jpg" alt="billede">
                    <p>
                        Artiklen handler om spændene ting som du virkeligt gerne vil høre om og alt sådan noget. 
                        og bla bla.
                    </p>
                </div>
            </a>

            <a href="./article1">
                <div class="allArticles__article">
                    <p>Artikkel navn</p>
                    <img src="./media/images/photo.jpg" alt="billede">
                    <p>
                        Artiklen handler om spændene ting som du virkeligt gerne vil høre om og alt sådan noget. 
                        og bla bla.
                    </p>
                </div>
            </a>
            
            <a href="./article1">
                <div class="allArticles__article">
                    <p>Artikkel navn</p>
                    <img src="./media/images/photo.jpg" alt="billede">
                    <p>
                        Artiklen handler om spændene ting som du virkeligt gerne vil høre om og alt sådan noget. 
                        og bla bla.
                    </p>
                </div>
            </a>
            
            <a href="./article1">
                <div class="allArticles__article">
                    <p>Artikkel navn</p>
                    <img src="./media/images/photo.jpg" alt="billede">
                    <p>
                        Artiklen handler om spændene ting som du virkeligt gerne vil høre om og alt sådan noget. 
                        og bla bla.
                    </p>
                </div>
            </a>
            
            <a href="./article1">
                <div class="allArticles__article">
                    <p>Artikkel navn</p>
                    <img src="./media/images/photo.jpg" alt="billede">
                    <p>
                        Artiklen handler om spændene ting som du virkeligt gerne vil høre om og alt sådan noget. 
                        og bla bla.
                    </p>
                </div>
            </a>
            
            <a href="./article1">
                <div class="allArticles__article">
                    <p>Artikkel navn</p>
                    <img src="./media/images/photo.jpg" alt="billede">
                    <p>
                        Artiklen handler om spændene ting som du virkeligt gerne vil høre om og alt sådan noget. 
                        og bla bla.
                    </p>
                </div>
            </a>
            
            <a href="./article1">
                <div class="allArticles__article">
                    <p>Artikkel navn</p>
                    <img src="./media/images/photo.jpg" alt="billede">
                    <p>
                        Artiklen handler om spændene ting som du virkeligt gerne vil høre om og alt sådan noget. 
                        og bla bla.
                    </p>
                </div>
            </a>
            
            <a href="./article1">
                <div class="allArticles__article">
                    <p>Artikkel navn</p>
                    <img src="./media/images/photo.jpg" alt="billede">
                    <p>
                        Artiklen handler om spændene ting som du virkeligt gerne vil høre om og alt sådan noget. 
                        og bla bla.
                    </p>
                </div>
            </a>
            
            <a href="./article1">
                <div class="allArticles__article">
                    <p>Artikkel navn</p>
                    <img src="./media/images/photo.jpg" alt="billede">
                    <p>
                        Artiklen handler om spændene ting som du virkeligt gerne vil høre om og alt sådan noget. 
                        og bla bla.
                    </p>
                </div>
            </a>
            
        </div>
    </section>
</main>