<%- include('./partials/head.ejs')%>

<%- include('./partials/bg.ejs')%>

<%- include('./partials/header.ejs')%>


<div class="flexCont">
    <%- include('./partials/aside.ejs')%>

    <main>
        <div class="main__rules glass">
            <h1>COVID-19</h1><br>
            <p>*Opdatering* <br>
            Kollegiet skal være et sikkert og trygt sted for alle, derfor er det vigtigt at vi alle passer på 
            hinanden i disse tider. I takt med at Mette Frederiksens´ store genåbningplan ser vi frem til at kunne åbne 
            kollegiet mere og mere, så alle kan få den rigtige følelse af at bo på Aarhus kollegiet. </p><br>

            <p>Dette vil selvfølgelig kun være muligt, hvis alle tager sine forholdsregler og ved den mindste mistanke 
            om symptomer går i selvisolation og kontakter de beboer vedkommende har haft kontakt med. På den måde 
            kan vi stoppe smitten hurtigere og undgå et større smitteudbrud.   Vi opfordrer alle til at blive 
            testet så tit som  muligt og ved fællesarrangement er det et krav at kunne fremvise negativ test, så 
            alle føler sig sikker. </p><br>

            <h3>*UPDATE*</h3> <br>
            <p>The dormitory must be a safe and secure place for everyone, therefore is it important that we all take 
            responsibility and care of each other.
            Concurrently with the government's reopening plan, we look forward (we are looking forward) to being able to 
            open the dormitory more and more, so everyone can get the right feeling of living og Aarhus dormitory. </p><br>

            <p>This will only be possible if everyone takes their precautions and  that the slightest suspicion of 
            symptomer goes into self-isolation and contacts the resident he or she has had contact with. That 
            way, we can stop the infection faster and avoid a major outbreak. 
            We encourage everyone to get tested as often as possible and at bigger events at the dormitory it is a requirement 
            to be able to present a negative test , so everyone can feel safe. </p>

        </div>
    </main>

    <div class="rightAside">
        <div class="rightAside__cont">
            
        </div>
    </div>
</div>