<%- include('./partials/head.ejs')%>

<%- include('./partials/bg.ejs')%>

<div class="authWrap">
    <div class="authCont">
        <form method="post">
            <div>
                <label for="username">e-mail:</label>
                <input type="email" name="email" id="email">
            </div><br>
            <div>
                <label for="password">Name:</label>
                <input type="text" name="name" id="name">
            </div><br>
            <div>
                <label for="password">Room numberr:</label>
                <input type="number" max="50" min="0" name="roomNumber" id="roomNumber">
            </div><br>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="psw">
            </div><br>
            <div>
                <label for="password">Repeat password:</label>
                <input type="password" name="Reppassword" id="repPsw">
            </div><br>
            <div>
                <button class="btn" type="submit">Create user</button>
            </div>
        </form>
        <br>
        <a href="Login">
            <small>Already have an account?<br>Login here</small>
        </a>
    </div>
</div>