<%- include('./partials/head.ejs')%>

<form method="post">
    <div>
        <label for="username">e-mail:</label>
        <input type="email" name="email" id="email">
    </div>
    <div>
        <label for="password">Navn:</label>
        <input type="text" name="name" id="name">
    </div>
    <div>
        <label for="password">Værelse Nummer:</label>
        <input type="number" max="50" min="0" name="roomNumber" id="roomNumber">
    </div>
    <div>
        <label for="password">Kodeord:</label>
        <input type="password" name="password" id="psw">
    </div>
    <div>
        <label for="password">Gentag kodeord:</label>
        <input type="password" name="Reppassword" id="repPsw">
    </div>
    <div>
        <button type="submit">Opret bruger</button>
    </div>
</form>
<a href="Login">
    <small>Login her</small>
</a>