<%- include('./partials/head.ejs')%>
<%- include('./partials/header.ejs') %>
<main>
    <%- include('./partials/aside.ejs') %>
    <section class="hero">

        <a href="Article1">
            <article>
                <h3>Article 1</h3>
                <img src="./media/images/photo.jpg" alt="billede">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, eveniet! Quod aliquid 
                    praesentium cumque autem incidunt ea suscipit accusantium. Temporibus minus dolore 
                    aspernatur aperiam provident, corrupti consectetur nesciunt dolores qui?
                </p>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, eveniet! Quod aliquid 
                    praesentium cumque autem incidunt ea suscipit accusantium. Temporibus minus dolore 
                    aspernatur aperiam provident, corrupti consectetur nesciunt dolores qui?
                </p>
            </article>
        </a>

        <a href="Article1">
            <article>
                <h3>Article 2</h3>
                <img src="./media/images/photo.jpg" alt="billede">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, eveniet! Quod aliquid 
                    praesentium cumque autem incidunt ea suscipit accusantium. Temporibus minus dolore 
                    aspernatur aperiam provident, corrupti consectetur nesciunt dolores qui?
                </p>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, eveniet! Quod aliquid 
                    praesentium cumque autem incidunt ea suscipit accusantium. Temporibus minus dolore 
                    aspernatur aperiam provident, corrupti consectetur nesciunt dolores qui?
                </p>
            </article>
        </a>
        
        <a href="Article1">
            <article>
                <h3>Article 3</h3>
                <img src="./media/images/photo.jpg" alt="billede">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, eveniet! Quod aliquid 
                    praesentium cumque autem incidunt ea suscipit accusantium. Temporibus minus dolore 
                    aspernatur aperiam provident, corrupti consectetur nesciunt dolores qui?
                </p>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, eveniet! Quod aliquid 
                    praesentium cumque autem incidunt ea suscipit accusantium. Temporibus minus dolore 
                    aspernatur aperiam provident, corrupti consectetur nesciunt dolores qui?
                </p>
            </article>
        </a>
        
    </section>
</main>