<%- include('./partials/head.ejs')%>

<%- include('./partials/bg.ejs')%>

<div class="authWrap">
    <div class="authCont">
        <form method="post">
            <div>
                <label for="username">E-mail:</label>
                <input type="text" name="email" id="email">
            </div><br>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password">
            </div><br>
            <div>
                <button class="loginBtn btn" type="submit">Log ind</button>
            </div>
        </form>
        <br>
        <a href="create-user">
            <small>Create user</small>
        </a>
    </div>
</div>
