<%- include('./partials/head.ejs')%>

<%- include('./partials/bg.ejs')%>

<%- include('./partials/header.ejs')%>


<div class="flexCont">
    <%- include('./partials/aside.ejs')%>

    <main>
        <h2>Main</h2>
    </main>

    <div class="rightAside">
        <div class="rightAside__cont">
            <div class="cont__item">
                <p>Link til nogle regler</p>
            </div>
        </div>
    </div>
</div>