<script defer src="./js/rulesPage.js"></script>

<%- include('./partials/head.ejs')%>

<%- include('./partials/bg.ejs')%>

<%- include('./partials/header.ejs')%>


<div class="flexCont">
    <%- include('./partials/aside.ejs')%>

    <main>
        <div class="main__rules glass">
            <div class="main__accordionContainer">
				<div class="accordion">
					<div class="accordion-item-header">
						<h2>Moving in</h2>
					</div>
					<div class="accordion-item-body">
						<div class="accordion-item-body-content">
							<p>You will get your keys from the caretaker and after that you are responsible for 
                                your room and the associated furniture. You are therefore obliged to compensate 
                                for damage that may be added to the furniture, if it can not be attributed to wear and tear.<br><br>

                                If you find wear and tear you do not  want to pay for when you are moving from 
                                Aarhus dormitory you have 2 weeks to inform the caretaker. 
                                </p>
						</div>
					</div>
				</div>
				<div class="accordion">
					<div class="accordion-item-header">
						<h2>Moving out</h2>
					</div>
					<div class="accordion-item-body">
						<div class="accordion-item-body-content">
							<p>When moving out of the dormitory, an inspection of the home will be held in accordance with 
                                current rules on the maintenance regulations. You must be able to present all the home's 
                                furniture and belongings when moving out of the dormitory. You have until 09 o'clock on 
                                the day of moving out to take care of cleaning the entire lease and hand over keys to the 
                                caretaker. For this, the bathroom and the sanitary installations must be cleaned.
                                If the home has not been adequately cleaned, the dormitory reserves the right to clean 
                                the home further at the tenant's expense.
                            </p>
						</div>
					</div>
				</div>
                <div class="accordion">
					<div class="accordion-item-header">
						<h2>Cleaning</h2>
					</div>
					<div class="accordion-item-body">
						<div class="accordion-item-body-content">
							<p>All common areas must be cleaned weekly and efforts must be made to maintain good order when using them.
                                The hallway must be cleaned weekly and the residents are required to prepare a cleaning plan 
                                which distributes the work tasks between the residents in the hallway. The areas must always 
                                appear neatly cleaned.<br><br>
                                
                                In the kitchen you always clean up after yourself, wash up your dishes, wipe the table and whatever you may have used. Furthermore, the kitchen is cleaned twice a week. Here is a comprehensive overview of which rooms have kitchen cleaning.
                                
                                </p>
						</div>
					</div>
				</div>
                <div class="accordion">
					<div class="accordion-item-header">
						<h2>Noise</h2>
					</div>
					<div class="accordion-item-body">
						<div class="accordion-item-body-content">
							<p>Other residents of the dormitory must be taken into account, therefore you must be calm during the period
                                22.00 - 08.00. Larger noise sources such as drills, el. similar must not be used during the period
                                20.00 - 09.00.<br><br>
                                
                                It is only permitted to use the following premises for specified periods.
                                The laundry room 06.00 - 24.00<br>
                                The gym 08.00 - 22.00<br>
                                The music room 08.00 -22.00<br><br>
                                
                                If a party is held in addition to the college's public parties, it must always be announced on the Facebook page and the notice board at the entrance at least 4 days in advance.
                                
                                </p>
						</div>
					</div>
				</div>
			</div>
        </div>
    </main>

    <div class="rightAside">
        <div class="rightAside__cont">
        </div>
    </div>
</div>