* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.glass {
  background: rgba(255, 255, 255, 0.575);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.btn {
  padding: 6px;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-transition: 200ms;
  transition: 200ms;
  outline: none;
}

.btn:hover {
  background: white;
}

.btnGlass {
  background: rgba(255, 255, 255, 0.575);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 12px;
  -webkit-transition: 200ms;
  transition: 200ms;
  outline: none;
}

.btnGlass:hover {
  background: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 48px;
  background: rgba(255, 255, 255, 0.575);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.authWrap {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.authWrap .authCont {
  padding: 64px;
  background: rgba(255, 255, 255, 0.575);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.authWrap .authCont input {
  display: block;
  background: none;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 6px;
  outline: none;
  margin: 0 auto;
}

.authWrap .authCont label {
  display: block;
  padding: 6px;
}

.flexCont {
  padding: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside {
  white-space: nowrap;
}

aside nav {
  font-size: 1.3rem;
  padding: 0 36px;
  position: -webkit-sticky;
  position: sticky;
  margin: 0 36px;
  top: 24px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

aside nav li {
  background: rgba(255, 255, 255, 0.575);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  list-style: none;
  margin-bottom: 12px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

aside nav li:hover {
  background: rgba(255, 255, 255, 0.8);
}

aside nav li a {
  padding: 12px;
  display: block;
}

.rightAside .rightAside__cont {
  font-size: 1.3rem;
  padding: 0 36px;
  position: -webkit-sticky;
  position: sticky;
  margin: 0 36px;
  top: 24px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.rightAside .rightAside__cont .cont__item {
  background: rgba(255, 255, 255, 0.575);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-transition: 200ms;
  transition: 200ms;
  margin-bottom: 12px;
  padding: 12px;
  text-align: center;
}

.rightAside .rightAside__cont .cont__item .rightAside__iconCont img {
  height: 48px;
  margin-bottom: 6px;
}

.rightAside .rightAside__cont .cont__item:hover {
  background: rgba(255, 255, 255, 0.8);
}

.wall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
}

.wall #newPostBtn {
  cursor: pointer;
  margin-bottom: 32px;
  padding: 24px;
  color: rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.575);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.wall #newPostBtn:hover {
  background: rgba(255, 255, 255, 0.8);
}

.wall .createCont__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wall .createCont__form #charLeft {
  font-size: 0.7rem;
  opacity: 0;
  -webkit-transition: 250ms;
  transition: 250ms;
  cursor: default;
}

.wall .createCont__form .form__inputCont {
  background: rgba(255, 255, 255, 0.575);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 32px;
}

.wall .createCont__form .form__inputCont input {
  width: 100%;
  background: none;
  margin-bottom: 12px;
  outline: none;
  border: none;
  font-size: 1.5rem;
}

.wall .createCont__form .form__inputCont textarea {
  background: none;
  width: 100%;
  resize: none;
  outline: none;
  border: none;
}

.wall .createCont__form .form__inputCont #form__body {
  min-height: 100px;
}

.wall .createCont__form button {
  font-size: 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.wall .wall__post {
  padding: 32px;
  margin: 16px 0;
  overflow-wrap: break-word;
  background: rgba(255, 255, 255, 0.575);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#bgCont {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../media/images/bg.jpg");
  background-color: rgba(255, 0, 0, 0.125);
  background-blend-mode: luminosity;
}

#bgCont #bgOverlay {
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.5)), color-stop(20%, transparent), color-stop(80%, transparent), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), transparent 20%, transparent 80%, rgba(255, 255, 255, 0.5));
}
/*# sourceMappingURL=style.css.map */