* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #0e0e0e;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.glass {
  background: rgba(255, 255, 255, 0.575);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.btn {
  padding: 6px;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-transition: 200ms;
  transition: 200ms;
  outline: none;
}

.btn:hover {
  background: white;
}

.btnGlass {
  background: rgba(255, 255, 255, 0.575);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 12px;
  -webkit-transition: 200ms;
  transition: 200ms;
  outline: none;
}

.btnGlass:hover {
  background: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 12px;
  background: rgba(255, 255, 255, 0.575);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

header .burger {
  display: none;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  height: 48px;
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

#toTopBtn {
  z-index: 1;
  -webkit-transition: 200ms;
  transition: 200ms;
  background: rgba(255, 255, 255, 0.575);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: fixed;
  bottom: 10vh;
  right: 10vw;
  padding: 12px;
  text-align: center;
  pointer-events: none;
  cursor: pointer;
}

#toTopBtn:hover {
  background: rgba(255, 255, 255, 0.8);
}

#toTopBtn img {
  width: 40px;
  height: 40px;
}

.authWrap {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.authWrap .authCont {
  padding: 64px;
  background: rgba(255, 255, 255, 0.575);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.authWrap .authCont input {
  display: block;
  background: none;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 6px;
  outline: none;
  margin: 0 auto;
}

.authWrap .authCont label {
  display: block;
  padding: 6px;
}

.flexCont {
  padding: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside {
  white-space: nowrap;
}

aside nav {
  font-size: 1.2rem;
  padding-right: 36px;
  position: -webkit-sticky;
  position: sticky;
  margin-right: 36px;
  top: 24px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

aside nav li {
  background: rgba(255, 255, 255, 0.575);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  list-style: none;
  margin-bottom: 12px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

aside nav li:hover {
  background: rgba(255, 255, 255, 0.8);
}

aside nav li a {
  padding: 12px;
  display: block;
  width: 125px;
}

.rightAside .rightAside__cont {
  font-size: 1.2rem;
  padding-left: 36px;
  position: -webkit-sticky;
  position: sticky;
  margin-left: 36px;
  top: 24px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.rightAside .rightAside__cont .cont__item {
  cursor: pointer;
  width: 125px;
  background: rgba(255, 255, 255, 0.575);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-transition: 200ms;
  transition: 200ms;
  margin-bottom: 12px;
  padding: 12px;
  text-align: center;
}

.rightAside .rightAside__cont .cont__item .rightAside__iconCont img {
  height: 48px;
  margin-bottom: 6px;
}

.rightAside .rightAside__cont .cont__item:hover {
  background: rgba(255, 255, 255, 0.8);
}

.rightAside .rightAside__cont .cont__item-active {
  background: white;
}

main {
  width: 600px;
}

.wall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
}

.wall #newPostBtn {
  background: rgba(255, 255, 255, 0.575);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  margin-bottom: 32px;
  padding: 24px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.wall #newPostBtn:hover {
  background: rgba(255, 255, 255, 0.6);
}

.wall .createCont__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wall .createCont__form #charLeft {
  font-size: 0.7rem;
  opacity: 0;
  -webkit-transition: 250ms;
  transition: 250ms;
  cursor: default;
}

.wall .createCont__form .form__inputCont {
  background: rgba(255, 255, 255, 0.575);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 32px;
}

.wall .createCont__form .form__inputCont input {
  width: 100%;
  background: none;
  margin-bottom: 12px;
  outline: none;
  border: none;
  font-size: 1.5rem;
}

.wall .createCont__form .form__inputCont textarea {
  background: none;
  width: 100%;
  resize: none;
  outline: none;
  border: none;
}

.wall .createCont__form .form__inputCont #form__body {
  min-height: 100px;
}

.wall .createCont__form .form__inputCont .inputCont__btnWrap {
  text-align: right;
}

.wall .createCont__form .form__inputCont .inputCont__btnWrap button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.1rem;
  padding: 12px;
  border: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.575);
  border-radius: 10px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.wall .createCont__form .form__inputCont .inputCont__btnWrap button:hover {
  background: rgba(255, 255, 255, 0.8);
}

.wall .createCont__form .form__inputCont .inputCont__btnWrap span {
  -webkit-transition: 200ms;
  transition: 200ms;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px;
  cursor: pointer;
  border-radius: 10px;
}

.wall .createCont__form .form__inputCont .inputCont__btnWrap span:hover {
  background: rgba(255, 255, 255, 0.3);
}

.wall .filtered__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.wall .filtered__wrap::-webkit-scrollbar {
  display: none;
}

.wall .filtered__wrap {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.wall .wall__filtered {
  scroll-snap-align: center;
  scroll-behavior: smooth;
}

.wall .wall__filtered:nth-child(2n) {
  margin: 0 64px;
}

.wall .wall__post {
  width: 600px;
  padding: 32px;
  margin: 16px 0;
  overflow-wrap: break-word;
  background: rgba(255, 255, 255, 0.575);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: none;
          box-shadow: none;
}

#htmlOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background: black;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#bgCont {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../media/images/bg.jpg");
  background-color: rgba(255, 0, 0, 0.125);
  background-blend-mode: luminosity;
}

#bgCont #bgOverlay {
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.5)), color-stop(20%, transparent), color-stop(80%, transparent), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), transparent 20%, transparent 80%, rgba(255, 255, 255, 0.5));
}

@media only screen and (max-width: 768px) {
  .burger {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: block;
    cursor: pointer;
    margin: auto 0;
    position: absolute;
    right: 31.5;
    top: 31.5;
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
    z-index: 10;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .burger div {
    width: 25px;
    height: 3px;
    background-color: #5d4954;
    margin: 5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .burger-toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  .burger-toggle .line2 {
    opacity: 0;
  }
  .burger-toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
  header .header__username {
    display: none;
  }
  .rightAside {
    display: none;
  }
  .wall {
    width: 85vw;
  }
  .wall .wall__post {
    width: 85vw;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    max-width: none;
  }
  aside {
    max-width: 0;
    overflow: hidden;
    z-index: 4;
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0;
    background: rgba(255, 255, 255, 0.575);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border: none;
    width: 50%;
    border-radius: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform .25s ease-in;
    transition: -webkit-transform .25s ease-in;
    transition: transform .25s ease-in;
    transition: transform .25s ease-in, -webkit-transform .25s ease-in;
  }
  aside nav {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  aside nav ul {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 100%;
    padding: 73px 0;
  }
  aside nav ul li {
    opacity: 0;
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
/*# sourceMappingURL=style.css.map */