@mixin glass {
    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.2 );
}
.glass {
    @include glass;
}

.btn {
    padding:6px;
    background: none;
    border:1px solid rgba(0, 0, 0, 0.5);
    transition:200ms;
    outline:none;
    &:hover {
        background: white;
    }
}
.btnGlass {
    @include glass;
    padding:12px;
    transition:200ms;
    outline:none;
    &:hover {
        background: white;
    }
}

header {
    display:flex;
    justify-content: space-between;
    padding:12px 12px;
    background: rgba(255, 255, 255, 0.575);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    border-bottom: 1px solid rgba( 255, 255, 255, 0.2 );
    .burger {
        display:none;
    }
    div {
        display:flex;
        align-items: center;
    }
    img {
        height:48px;
    }
}

.visible {
    opacity: 1;
}

.invisible {
    opacity: 0;
}

#toTopBtn {
    z-index:1;
    transition:200ms;
    @include glass;
    border-radius: 50%;
    position:fixed;
    bottom:10vh;
    right:10vw;
    padding:12px;
    text-align: center;
    pointer-events: none;
    cursor:pointer;
    &:hover {
        background: rgba(255, 255, 255, 0.8);
    }
    img {
        width:40px;
        height:40px;
    }
    
}



.authWrap {
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    .authCont {
        padding:64px;
        @include glass;
        input {
            display:block;
            background:none;
            border-radius: 6px;
            border:1px solid rgba(0, 0, 0, 0.5);
            padding:6px;
            outline:none;
            margin:0 auto;
        }
        label {
            display:block;
            padding:6px;
        }
    }
}

.flexCont {
    padding:36px;
    display:flex;
    justify-content: center;
}

aside {
    white-space: nowrap;
    nav {
        font-size:1.2rem;
        padding-right:36px;
        position:sticky;
        margin-right:36px;
        top:24px;
        border-right: 1px solid rgba( 255, 255, 255, 0.2 );
        //@include glass;
        li {
            @include glass;
            list-style: none;
            margin-bottom: 12px;
            transition:200ms;
            &:hover {
                background: rgba(255, 255, 255, 0.8);
            }
            a {
                padding:12px;
                display:block;
                width:125px;
            }
        }
    }
}

.rightAside {
    .rightAside__cont {
        
        font-size:1.2rem;
        padding-left:36px;
        position:sticky;
        margin-left:36px;
        top:24px;
        border-left: 1px solid rgba( 255, 255, 255, 0.2 );
        .cont__item {
            cursor:pointer;
            width: 125px;
            @include glass;
            transition:200ms;
            margin-bottom: 12px;
            padding:12px;
            text-align: center;
            .rightAside__iconCont {
                img {
                    height:48px;
                    margin-bottom: 6px;
                }
            }
            
            &:hover {
                background: rgba(255, 255, 255, 0.8);
            }
        }
        .cont__item-active {
            background: rgb(255, 255, 255);
        }
    }
}

main {
    width:600px;   
    .main__rules {
        padding:24px;
        .main__accordionContainer {
            display:flex;
            flex-direction: column;
            flex-wrap:wrap;
    
        }
        .accordion {
            width:90%;
            margin:16px auto;
            padding:16px;
            border:1px solid rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            .accordion-item-header {
                min-height: 3.5rem;
                line-height: 1.25rem;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                cursor: pointer;
            }
            .accordion-item-body {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-out;
            }
            .accordion-item-body-content {
                padding: 1rem;
                line-height: 1.5rem;
            }
        
            .accordion-item-header::after {
                content: "+";
                font-size: 2rem;
                position: absolute;
                right: 1rem;
                transition: 200ms;
            }
            .accordion-item-header.active::after {
                //content: "-";
                transform: rotate(135deg);
            }
        }
        
    }
}

#onboard {
    display:none;
    padding:5vw;
    width: 100vw;
    height:100vh;
    position:fixed;
    z-index: 10;
    background:rgba( 255, 255, 255, 0.8 );
    video {
        max-width: 100%;
        max-height: 80vh;
    }
    #onboardClose {
        font-size:1.4rem;
        text-align: center;
        padding-top:12px;
        cursor:pointer;
    }
}

.wall {
    display:flex;
    flex-direction: column;
    max-width: 600px;
    position:relative;

    .arrow {
        display:none;
    }
    #newPostBtn {
        @include glass;
        cursor: pointer;
        margin-bottom:32px;
        padding:24px;
        color:rgba(0, 0, 0, 0.5);
        transition:200ms;
        &:hover {
            background: rgba(255, 255, 255, 0.6);
        }
    }
    .createCont__form {
        display:flex;
        flex-direction: column;
        #charLeft {
            font-size:0.7rem;
            opacity: 0; 
            transition: 250ms;
            cursor:default;
        }
        .form__inputCont {
            @include glass;
            padding:32px;
            
            input {
                width:100%;
                background: none;
                margin-bottom:12px;
                outline:none;
                border:none;
                font-size: 1.5rem;
            }
            textarea {
                background: none;
                width:100%;
                resize:none;
                outline:none;
                border:none;
            }
            #form__body {
                min-height: 100px;
            }
            .inputCont__btnWrap {
                text-align: right;
                button {
                    width:fit-content;
                    font-size: 1.1rem;
                    padding:12px;
                    border:none;
                    cursor:pointer;
                    background: rgba(255, 255, 255, 0.575);
                    border-radius: 10px;
                    transition:200ms;
                    &:hover{
                        background: rgba(255, 255, 255, 0.8);
                    }
                }
                span{
                    transition:200ms;
                    width:fit-content;
                    padding:12px;
                    cursor:pointer;
                    border-radius: 10px;
                    &:hover{
                        background: rgba(255, 255, 255, 0.3);
                    }
                }
            }
            
        }
        
    }

    .filtered__wrap {
        display:flex;
        scroll-snap-type: x mandatory;
        justify-content: space-between;
        overflow-x:scroll;
        scroll-behavior: smooth;
        
        
        &::-webkit-scrollbar {
            display: none;
        }
        & {
        -ms-overflow-style: none; 
        scrollbar-width: none;  
        }
    }
    .wall__filtered {
        scroll-snap-align: center;
        scroll-snap-stop: always;
        scroll-behavior: smooth;
        &:nth-child(2n){
            margin:0 64px;
        }
    }

    .wall__post {
        width:600px;
        padding:32px;
        margin:16px 0;
        overflow-wrap: break-word;
        @include glass;
        box-shadow:none;
    }
}

#htmlOverlay {
    position:absolute;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    z-index:2;
    background:black;
    opacity: 0;
    pointer-events: none;
    transition:300ms;
}

#bgCont {
    position: fixed;
    top:0;
    left:0;
    min-height:100vh;
    min-width: 100vw;
    z-index: -1;

    
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url('../media/images/bg.jpg') ;

    background-color: rgba(255, 0, 0, 0.125);
    background-blend-mode:luminosity;
    #bgOverlay {
        height:100vh;
        background:linear-gradient(to right, rgba(255, 255, 255, 0.5), transparent 20%,transparent 80%, rgba(255, 255, 255, 0.5))
    }
}

