@media only screen and (max-width: 768px) {
    aside {
        display:none;
    }
    .rightAside {
        display:none;
    }
    .wall {
        width: 85vw;
        .wall__post {
            width:85vw;
        }

    }
}